%article
  %header.clearfix
    %h2.pull-left
      = post.title
      - if post.draft?
        %small (draft)
    .btn-group.pull-right
      = link_to 'Edit', [:edit, post], class: 'btn btn-default'
      = link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  %p= post.body
  .comments
    %h3 Comments
    - if @comments.any?
      = render @comments
    - else
      %p There are no comments yet. Be first.

    = render 'comments/form', comment: @new_comment, post: post
